*{
    margin: 0;
}

body{
    background-color: gray;
    height: 600px;
}
#tudo{
    background-color: orange;
    padding: 5px;
    display:inline-block ;
}
.quad{
    width: 200px;
    height: 200px;
    margin: 5px 10px;
}
#quad1{
 background-color: red;
 flex-shrink: 1;
}
#quad2{
    background-color: yellow;
}
#quad3{
    background-color: green;
}


#container{
    background-color: black;
    padding: 5px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
}

#container2{
    background-color: aqua;
    padding: 2px;
    height: 600px;
    display: grid;
    /* grid-template-rows: auto auto auto;
    grid-template-columns: auto auto; */
    grid-template: auto auto/ auto auto auto; 
    grid-gap: 10px;
    justify-items: center;
    align-items:center;
    align-content: center;
}