body{
    background-color: white;
    text-align: center;
    font-weight: 500;
    font-size: large;
    box-shadow: 1px 1px 1px black;
    font-family: "PT Sans",sans-serif;
}
.cabeçalho{
    background-color: #20388E;
    border: 1px solid black;
    box-shadow:1px 1px 7px black;
}
div{
    
}

footer{
    background-color: #2454A0;
    color: white;
    border: 1px solid black;
}

#rod2{
    background-color: #2D388A;
    box-shadow: 1px 1px 1px black;

}
.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}